body{
    background-size: cover;
    background-position: center;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 10px;
}

a{
    background-color: rgb(233, 233, 233);
    width: 50px;
    margin: 50;
    font-size: 23px;
    padding: 10;
    color: goldenrod;
    
}